@charset "utf-8;";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&&display=swap");

html {
  scroll-behavior: smooth;
  overflow: visible;
}

body {
  position: relative;
  overflow: visible;
}

html,
body,
h1,
h2,
h3,
dl,
dt,
dd,
ul,
li,
input,
textarea,
button {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #fff;
  font-feature-settings: "palt";
  letter-spacing: 0.1em;
}

p {
  line-height: 2.33;
  font-family: "Montserrat", "Noto Sans JP", san-serif;
  font-size: 15px;
  font-weight: 300;
  color: #fff;
  font-feature-settings: "palt";
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover,
button:hover,
li:hover {
  cursor: url("../images/1x/cursor_hover.png"), auto;
}

a:active,
button:active,
li:active {
  cursor: url("../images/1x/cursor_click.png"), auto;
}

/* button */

.btn_arrow a {
  position: relative;
  display: block;
  width: 180px;
  padding: 10px 30px 10px 10px;
  font-size: 13px;
  color: #fff;
  border: 1px solid #fff;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  transition: all 0.5s;
  border: #fff solid 1px;
}

.btn_arrow a::after {
  content: "";
  position: absolute;
  top: 6px;
  bottom: 0;
  right: 27px;
  width: 9px;
  height: 9px;
  margin: auto;
  border-top: 1px solid #fff;
  transform: rotate(45deg);
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.btn_arrow a::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 25px;
  width: 20px;
  height: 9px;
  margin: auto;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.btn_arrow:hover a::after {
  right: -12px;
}

.btn_arrow:hover a::before {
  right: -15px;
  width: 60px;
}

.back_btn a {
  display: block;
  width: 60px;
  padding: 10px 10px 10px 35px;
  font-size: 13px;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0);
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  transition: all 1s;
}

.back_btn a:hover {
  border: 1px solid #fff;
}

.back_btn a::after,
.back_btn a::before {
  content: "";
  position: absolute;
  top: 23px;
  bottom: 0;
  left: 35px;
  width: 14px;
  height: 14px;
  margin: auto;
  border-top: 1px solid #fff;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.back_btn:hover a::after {
  transform: translate(-115%, -50%) rotate(45deg);
  opacity: 1;
}

.back_btn:hover a::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.back_btn a::after {
  transform: translate(-100%, -25%) rotate(0deg);
  opacity: 0;
}

.back_btn a::before {
  transform: translate(-100%, -25%) rotate(0deg);
}

.btn_arrow a:hover,
.back_btn a:hover {
  box-shadow: inset 0 0 0.8em rgba(255, 255, 255, 0.3),
    0 0 0.8em rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 767px) {
  html,
  body,
  h1,
  h2,
  h3,
  dl,
  dt,
  dd,
  ul,
  li,
  input,
  textarea,
  button {
    font-size: 13px;
  }

  p {
    font-size: 13px;
  }

  .back_btn {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #fff;
    border-right: none;
    padding: 0;
  }
}
