@charset "utf-8;";

@media screen and (max-width: 767px) {
  body {
    background-image: url("../images/2x/back_sp@2x-80.jpg");
  }

  .pc_hidden {
    display: block;
  }

  .sp_hidden {
    display: none;
  }

  #pc_nav {
    display: none !important;
  }

  #sp_btn {
    display: block;
  }

  /* hamburger menu */

  #sp_btn {
    height: 23px;
    cursor: pointer;
    position: fixed;
    top: 30px;
    right: 25px;
    z-index: 99;
  }

  #sp_btn span {
    display: block;
    width: 30px;
    height: 1px;
    background: #fff;
    border-radius: 2px;
    position: relative;
    transition: 0.3s;
  }

  #sp_btn span::before,
  #sp_btn span::after {
    content: "";
    display: block;
    width: 30px;
    height: 1px;
    background: #fff;
    border-radius: 2px;
    position: absolute;
    transition: 0.3s;
  }

  #sp_btn span::before {
    bottom: 10px;
  }

  #sp_btn span::after {
    top: 10px;
  }

  #sp_btn.open span {
    background: transparent;
  }

  #sp_btn.open span::before {
    bottom: 0;
    transform: rotate(45deg);
    background: #fff;
  }

  #sp_btn.open span::after {
    top: 0;
    transform: rotate(135deg);
    background: #fff;
  }

  #sp_nav {
    position: absolute;
    z-index: 80;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(51, 51, 51, 0.8);
  }

  #sp_nav ul {
    position: absolute;
    top: -100px;
    right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10vw;
    transform: rotate(-90deg);
    transform-origin: right bottom;
  }

  #sp_nav ul li {
    font-weight: 500;
    font-style: normal;
    font-size: 28px;
    letter-spacing: 0.1em;
  }

  #sp_nav a {
    color: #fff;
    padding: 3px 20px;
    transition: all 0.5s;
    border: rgba(0, 0, 0, 0) solid 1px;
    box-sizing: border-box;
  }

  /* light */

  .light {
    animation: light 8s linear alternate infinite;
    position: fixed;
    animation-name: fadeInAnime;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    opacity: 0;
  }

  @keyframes light {
    to {
      transform: scale(2);
    }
  }

  .main_light {
    top: auto;
    left: auto;
    right: 15vw;
    top: 25vh;
  }

  .about_light {
    top: auto;
    left: auto;
    bottom: 15vh;
    right: 2vw;
  }

  .works_light {
    top: 5vh;
    right: auto;
    left: 5vw;
  }

  .detail_light {
    left: 5vw;
    bottom: auto;
    top: 5vh;
  }

  .banner_light {
    top: 8vh;
    right: 2vw;
  }

  .contact_light {
    top: 15vh;
    left: auto;
    right: 10vw;
  }

  /* copy write */

  .copy_write {
    right: 50%;
    bottom: 5px;
    transform: translate(50%);
    white-space: nowrap;
  }

  /* main---------------------------------------------------------------------------- */

  /* concept */

  .contents_box {
    flex-direction: column;
    height: 80vh;
    gap: 40px;
  }

  .second_contents {
    height: fit-content;
    padding-bottom: 150px;
  }

  .contents_box div {
    text-align: center;
  }

  .concept_write {
    font-size: 13px;
    padding-top: 20px;
  }

  .logo {
    width: 100px;
  }

  .decora {
    width: 230px;
  }

  /* policy */

  .prof01 {
    width: 300px;
  }

  .policy {
    width: 140px;
  }

  .policy_write {
    font-size: 13px;
    padding: 0 0 80px 0;
  }

  .btn01 {
    transform: translateX(0px);
  }

  /* about--------------------------------------------------------------------------- */

  .about_wrap {
    width: 100vw;
    height: fit-content;
    margin-top: 100px;
    margin-left: 0;
  }

  .about_box {
    height: fit-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 60px;
  }

  .about_me {
    width: 120px;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    position: absolute;
    top: 12vh;
    left: 15vw;
  }

  .prof02 {
    width: 75vw;
  }

  .about_detail {
    width: 100vw;
    text-align: center;
    margin-bottom: 80px;
  }

  .about_name {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
  }

  .about_name p:first-child {
    font-size: 16px;
  }
  .about_name p:last-child {
    font-size: 13px;
  }

  .scroll {
    width: 190px;
    transform: rotate(-90deg);
    transform-origin: left top;
    position: absolute;
    bottom: -150px;
    left: 5vw;
  }

  /* biography */

  .bio_wrap {
    align-items: center;
    gap: 50px;
    height: fit-content;
    width: 100vw;
  }

  .bio {
    width: 123px;
    transform: translateX(0);
  }

  .bio_container {
    display: flex;
    flex-direction: column;
  }

  .bio_container div {
    height: fit-content;
    width: 60vw;
    padding: 0 20% 50px 20%;
    border-left: 1px dashed #fff;
    border-right: none;
    border-bottom: none;
    position: relative;
  }

  .bio_container div:first-child {
    width: inherit;
    padding: 0;
  }

  .bio_container div:not(:first-child)::before {
    left: 10%;
  }

  .bio_container div:not(:first-child)::after {
    content: "";
    display: block;
    width: 10%;
    border-bottom: 1px dashed #fff;
    position: absolute;
    top: 0;
    left: 0;
  }

  .bio_container p span {
    font-weight: 600;
    font-size: 13px;
  }

  .bio_container p {
    font-size: 13px;
  }

  /* skills */

  .skills_wrap {
    height: fit-content;
    align-items: center;
    margin-right: 0;
    padding: 50px 0 150px 0;
  }

  .skills_container {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 40px;
  }

  .skill {
    width: 43px;
    position: absolute;
    top: 0;
    left: 5vw;
  }

  .skills_box p,
  .skills_box ul li {
    font-size: 13px;
  }

  .skills_box p {
    font-weight: 600;
  }

  .skills_box ul {
    padding-left: 30px;
    border-left: 1px solid #fff;
  }

  .skills_box ul li {
    padding: 10px 0;
    cursor: default;
  }

  .skills_wrap p:last-child {
    padding-top: 40px;
  }

  /* works--------------------------------------------------------------------------- */

  .filter-list.sp_filter {
    position: fixed;
    left: 50%;
    bottom: 7vh;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    gap: 5%;
    white-space: nowrap;
    z-index: 3;
  }

  .filter-list.sp_filter li {
    border: 1px solid #fff;
    line-height: 2.8;
    padding: 0 10px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
  }

  .works_wrap {
    height: 100vh;
    width: fit-content;
    margin-left: 20vw;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
  }

  .works_head {
    position: fixed;
    top: 0;
    left: 50%;
    width: 30px;
    transform: translate(-50%) rotate(90deg) !important;
  }

  .margin {
    margin-right: 20vw;
    text-align: center;
  }

  .filter-item {
    height: 475px;
    gap: 30px;
  }

  .filter-item li {
    width: 225px;
  }

  .filter-item li p span {
    font-size: 13px;
  }

  .filter-item li p {
    font-size: 12px;
  }

  .works_img {
    width: 225px;
    height: 150px;
  }

  /* works detail-------------------------------------------------------------------- */

  .back {
    position: fixed;
    bottom: 5vh;
    right: 50%;
    transform: translate(50%);
    z-index: 3;
  }

  .detail_container {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: center;
    height: fit-content;
    width: 80vw;
    gap: 80px;
    margin: 150px auto 0 auto;
  }

  .vw {
    align-items: center;
    width: 80vw;
    margin: 150px auto;
  }

  .detail_img {
    width: 158px;
    position: absolute;
    top: -70px;
    right: 0;
  }

  .detail_left {
    display: flex;
    margin-bottom: 3vh;
    white-space: nowrap;
  }

  .detail_left div:first-child {
    width: 20vw;
    padding: 0 20px 0 0;
  }

  .flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .detail_right {
    border-left: solid 1px #fff;
    width: 50vw;
    padding-left: 20px;
    white-space: nowrap;
  }

  hr {
    border: none;
    border-bottom: 1px dotted #fff;
    width: 100%;
    margin-top: 17px;
  }

  .line {
    padding: 0 5%;
  }

  .detail_container p {
    margin: 0;
  }

  .detail_container p span {
    display: block;
    font-size: 15px;
    padding: 10px 0 0 0;
  }

  .detail_first,
  .detail_column {
    width: 80vw;
    margin: 0 auto;
  }

  .detail_column {
    margin-top: 100px;
    margin-right: auto;
  }

  .visit {
    padding-top: 3vh;
    transform: translateX(0);
  }

  .detail_flex {
    margin: auto;
  }

  .detail_flex div {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: fit-content;
    justify-content: center;
    gap: 30px;
    margin: 100px auto 30px auto;
  }

  .detail_flex img {
    width: 80vw;
    height: 53vw;
    object-fit: cover;
  }

  .bottom {
    padding-bottom: 300px;
  }

  /* banner */

  .square {
    width: 50vw;
  }

  .rectangle {
    width: 70vw;
  }

  .banner_container {
    width: 80vw;
    height: fit-content;
    margin: 150px auto;
    gap: 40px;
  }

  .banner_flex:nth-child(2) {
    order: 3;
  }

  .banner_flex {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .banner_container p span {
    font-size: 15px;
  }

  /* contact------------------------------------------------------------------------- */

  .contact_container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .contact_img {
    width: 186px;
    padding: 0;
  }

  .c-form_item input {
    width: 80vw;
  }

  .c-form_item textarea {
    width: 80vw;
  }

  button {
    transform: translateX(0);
  }
}
