@charset "utf-8;";

@media screen and (max-width: 835px) {
  body {
    background-image: url("");
  }

  #header {
    background-color: rgba(0, 0, 0, 0.2);
  }

  main {
    padding-top: 100px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25vh;
  }

  .pc_hidden {
    display: block;
  }

  .sp_hidden {
    display: none;
  }

  #pc_nav {
    display: none !important;
  }

  #sp_btn {
    display: block;
  }

  body:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background-image: url("../images/2x/back_sp@2x-80.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 100%;
  }

  /* hamburger menu */

  #sp_btn {
    height: 23px;
    cursor: pointer;
    position: fixed;
    top: 30px;
    right: 25px;
    z-index: 99;
  }

  #sp_btn span {
    display: block;
    width: 30px;
    height: 1px;
    background: #fff;
    border-radius: 2px;
    position: relative;
    transition: 0.3s;
  }

  #sp_btn span::before,
  #sp_btn span::after {
    content: "";
    display: block;
    width: 30px;
    height: 1px;
    background: #fff;
    border-radius: 2px;
    position: absolute;
    transition: 0.3s;
  }

  #sp_btn span::before {
    bottom: 10px;
  }

  #sp_btn span::after {
    top: 10px;
  }

  #sp_btn.open span {
    background: transparent;
  }

  #sp_btn.open span::before {
    bottom: 0;
    transform: rotate(45deg);
    background: #fff;
  }

  #sp_btn.open span::after {
    top: 0;
    transform: rotate(135deg);
    background: #fff;
  }

  #sp_nav {
    position: fixed;
    z-index: 80;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(51, 51, 51, 0.8);
  }

  #sp_nav ul {
    position: absolute;
    top: -100px;
    right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10vw;
    transform: rotate(-90deg);
    transform-origin: right bottom;
  }

  #sp_nav ul li {
    font-weight: 500;
    font-style: normal;
    font-size: 28px;
    letter-spacing: 0.1em;
    opacity: 0;
    transform: translateX(10%);
    transition: all 1s;
  }

  #sp_nav.open ul li {
    opacity: 1;
    transform: translateX(0);
  }

  #sp_nav.open ul li:first-child {
    transition-delay: 0.5s;
  }

  #sp_nav.open ul li:nth-child(2) {
    transition-delay: 0.7s;
  }

  #sp_nav.open ul li:last-child {
    transition-delay: 0.9s;
  }

  #sp_nav a {
    color: #fff;
    padding: 3px 20px;
    transition: all 0.5s;
    border: rgba(0, 0, 0, 0) solid 1px;
    box-sizing: border-box;
  }

  /* light */

  .light {
    animation: light 8s linear alternate infinite;
    position: fixed;
  }

  .main_light {
    top: auto;
    left: auto;
    right: 15vw;
    top: 25vh;
  }

  .about_light {
    top: auto;
    left: auto;
    bottom: 15vh;
    right: 2vw;
  }

  .works_light {
    top: 5vh;
    right: auto;
    left: 5vw;
  }

  .detail_light {
    left: 5vw;
    bottom: auto;
    top: 5vh;
  }

  .banner_light {
    top: 8vh;
    right: 2vw;
  }

  .contact_light {
    top: 15vh;
    left: auto;
    right: 10vw;
  }

  /* copy write */

  .copy_write {
    position: absolute;
    top: auto;
    right: auto;
    left: 50%;
    bottom: 5px;
    transform: translate(-50%);
    white-space: nowrap;
    font-size: 9px;
    opacity: 0.8;
  }

  /* main---------------------------------------------------------------------------- */

  /* concept */

  .contents_box {
    flex-direction: column;
    height: 60vh;
    width: 80vw;
    margin: 0 auto;
    gap: 40px;
    padding-top: 7vh;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20vh;
  }

  .contents_box.second_contents {
    margin-right: auto;
  }

  .second_contents {
    height: fit-content;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
  }

  .contents_box div {
    text-align: center;
  }

  .concept_write {
    font-size: 13px;
    padding-top: 20px;
  }

  .logo {
    width: 100px;
  }

  .decora {
    width: 230px;
  }

  /* policy */

  .prof01 {
    width: 90%;
  }

  .policy {
    width: 140px;
  }

  .policy_write {
    font-size: 13px;
    padding: 0 0 80px 0;
  }

  .btn01 {
    transform: translateX(0px);
    margin-bottom: 80px;
  }

  /* about--------------------------------------------------------------------------- */

  .about_wrap {
    width: 80vw;
    height: fit-content;
    margin: 0 auto;
  }

  .about_box {
    height: fit-content;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    position: relative;
  }

  .about_me {
    width: 120px;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    position: absolute;
    top: 130px;
    left: 5vw;
    z-index: 3;
  }

  .prof02 {
    width: 75vw;
    position: absolute;
    right: -20px;
    z-index: -1;
    top: 0;
  }

  .about_detail {
    width: 100%;
    text-align: center;
    margin-top: 35vh;
  }

  .about_name {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
  }

  .about_name p:first-child {
    font-size: 16px;
  }
  .about_name p:last-child {
    font-size: 13px;
  }

  .scroll {
    width: 190px;
    transform-origin: left bottom;
    position: absolute;
    top: 850px;
    left: 30px;
    animation: textannounce 3s linear infinite;
  }

  @keyframes textannounce {
    0% {
      opacity: 0;
      transform: translateY(-30px) rotate(-90deg);
    }
    20% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    70% {
      opacity: 0;
      transform: translateY(0) rotate(-90deg);
    }
    100% {
      opacity: 0;
    }
  }

  /* biography */

  .bio_wrap {
    align-items: center;
    gap: 50px;
    height: fit-content;
    width: 70vw;
    margin: 0 auto;
    padding-top: 80px;
  }

  .bio {
    width: 123px;
    transform: translateX(0);
  }

  .bio_container {
    display: flex;
    flex-direction: column;
  }

  .bio_container div {
    height: max-content;
    width: 80%;
    padding: 0 20% 50px 20%;
    border-left: 1px dashed #fff;
    border-right: none;
    border-bottom: none;
    position: relative;
  }

  .bio_container div:first-child {
    width: inherit;
    padding: 0;
  }

  .bio_container div:not(:first-child)::before {
    left: 10%;
  }

  .bio_container div:not(:first-child)::after {
    content: "";
    display: block;
    width: 10%;
    border-bottom: 1px dashed #fff;
    position: absolute;
    top: 0;
    left: 0;
  }

  .bio_container p span {
    font-weight: 600;
    font-size: 13px;
  }

  .bio_container p {
    font-size: 13px;
  }

  /* skills */

  .skills_wrap {
    height: fit-content;
    align-items: center;
    margin: 0 auto;
    position: relative;
  }

  .skills_container {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 40px;
  }

  .skill {
    width: 43px;
    position: absolute;
    top: 0;
    left: 5vw;
  }

  .skills_box p,
  .skills_box ul li {
    font-size: 13px;
  }

  .skills_box p {
    font-weight: 600;
  }

  .skills_box ul {
    padding-left: 30px;
    border-left: 1px solid #fff;
  }

  .skills_box ul li {
    padding: 10px 0;
    cursor: default;
  }

  .skills_wrap p:last-child {
    padding-top: 40px;
  }

  .modal_window {
    width: 80vw;
    height: 60vh;
  }

  .modal_contents {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
  }

  .img_height {
    height: 200px;
  }

  .img_width {
    width: 200px;
  }

  .modal_contents video {
    width: 250px;
  }

  .dli-caret-right {
    transform: rotate(90deg);
  }

  .modal_close {
    top: auto;
    bottom: 2vh;
    right: 50%;
    z-index: 12;
    transform: translateY(0) translateX(50%) rotate(0);
  }

  /* works--------------------------------------------------------------------------- */

  .works_wrapper {
    flex-direction: column;
  }

  .works_wrap {
    height: max-content;
    width: 225px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    gap: 0;
  }

  .filter-list.sp_filter {
    position: fixed;
    right: 0;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 12px;
    white-space: nowrap;
    z-index: 3;
  }

  .hidden {
    transform: translate(80%, 0);
  }

  .filter-list.sp_filter li {
    width: 125px;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border-right: none;
    line-height: 3;
    font-size: 15px;
    font-weight: 500;
    padding: 0 10px;
    box-sizing: border-box;
    transform: translateX(20px);
    transition: all 0.3s ease-in-out;
  }

  .sp_filter li:hover {
    transform: translateX(0);
    box-shadow: inset 0 0 0.8em rgba(255, 255, 255, 0.3),
      0 0 0.8em rgba(255, 255, 255, 0.3);
  }

  .works_head {
    width: 30px;
    position: fixed;
    left: 50%;
    top: 20px;
    transform: translate(-50%) rotate(90deg);
    transform-origin: center;
  }

  .margin {
    width: 250px;
    height: 80vh;
    text-align: center;
    align-items: center;
    gap: 20px;
  }

  .filter-item {
    margin-top: 90px;
    height: fit-content;
    width: 225px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .filter-item li {
    width: 225px;
  }

  .filter-item li p span {
    font-size: 13px;
  }

  .filter-item li p {
    font-size: 12px;
  }

  .works_img {
    width: 225px;
    height: 150px;
  }

  .scroll-arrow {
    content: "";
    width: 0px;
    height: 120px;
    border-bottom: 0;
    border-left: 1px solid #fff;
    box-sizing: border-box;
    position: fixed;
    bottom: 80px;
    left: 30px;
  }

  .scroll-arrow::before {
    top: auto;
    bottom: 1px;
    right: auto;
    left: -5px;
    transform: rotate(45deg);
  }

  .scroll-dot {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 50%;
    opacity: 0;
    animation: announce 2s linear infinite;
  }

  @keyframes announce {
    0% {
      left: auto;
      top: 20px;
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    70% {
      left: auto;
      top: 80px;
      opacity: 0;
    }
    100% {
      left: auto;
      top: 120px;
      opacity: 0;
    }
  }

  /* works detail-------------------------------------------------------------------- */

  .detail_container {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: center;
    height: fit-content;
    width: 80vw;
    gap: 80px;
    margin: 0 auto;
    padding-top: 70px;
  }

  .vw {
    align-items: center;
    width: 80vw;
    margin: 0 auto;
    padding-top: 50px;
  }

  .detail_img {
    width: 158px;
    position: absolute;
    top: 100px;
    right: 0;
  }

  .detail_left {
    display: flex;
    margin-bottom: 3vh;
    white-space: nowrap;
  }

  .detail_left div:first-child {
    width: 20vw;
    padding: 0 20px 0 0;
  }

  .flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .detail_right {
    border-left: solid 1px #fff;
    width: 50vw;
    padding-left: 20px;
    white-space: nowrap;
  }

  hr {
    border: none;
    border-bottom: 1px dotted #fff;
    width: 100%;
    margin-top: 17px;
  }

  .line {
    padding: 0 5%;
  }

  .detail_container p {
    margin: 0;
  }

  .detail_container p span {
    display: block;
    font-size: 15px;
    padding: 10px 0 0 0;
  }

  .detail_first,
  .detail_column {
    width: 80vw;
    margin: 0 auto;
  }

  .detail_column {
    margin-top: 100px;
    margin-right: auto;
  }

  .detail_textonly {
    height: fit-content;
    width: 80vw;
    margin: 0 auto;
    padding-top: 100px;
  }

  .visit {
    padding-top: 3vh;
    transform: translateX(0);
  }

  .detail_flex {
    margin: auto;
  }

  .detail_flex div {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: fit-content;
    justify-content: center;
    gap: 30px;
    margin: 100px auto 30px auto;
  }

  .detail_flex img {
    width: 80vw;
    height: 53vw;
    object-fit: cover;
  }

  /* banner */

  .square {
    width: 50vw;
  }

  .rectangle {
    width: 70vw;
  }

  .banner_container {
    width: 80vw;
    height: fit-content;
    margin: 0 auto;
    gap: 40px;
    padding-top: 30px;
  }

  .banner_flex:nth-child(2) {
    order: 3;
  }

  .banner_flex {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .banner_container p span {
    font-size: 15px;
  }

  /* contact------------------------------------------------------------------------- */

  #contact {
    height: fit-content;
  }

  .contact_container {
    padding-top: 0;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0;
  }

  .contact_img {
    width: 186px;
    padding: 0;
  }

  .c-form_item input {
    width: 80vw;
  }

  .c-form_item textarea {
    width: 80vw;
  }

  button {
    transform: translateX(0);
  }

  .sns_link {
    width: 80vw;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .sns_link::before {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    bottom: -20px;
  }

  .sns_link:hover::before {
    width: 100%;
    border-bottom: 1px solid #fff;
    bottom: -20px;
  }

  .insta {
    width: 32px;
  }

  /* thanks---------------------------------------------------------------------------------- */

  .thanks_img {
    width: 551px;
  }

  #thanks {
    height: 100vh;
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
}
