@charset "utf-8;";

body {
  background-image: url("../images/1x/back_pc-80.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

/* shadow */

.shadow {
  filter: drop-shadow(4px 4px 5px #000);
}

/* header */

#header {
  width: 100%;
  padding: 20px;
  position: fixed;
  z-index: 1;
}

#header h1 {
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.1em;
}

#header h1 span {
  font-size: 20px;
  font-weight: 600;
}

#header a {
  color: #fff;
}

/* nav */

.pc_nav {
  position: fixed;
  left: 20px;
  bottom: 20px;
  display: flex;
  gap: 40px;
  transform: rotate(-90deg);
  transform-origin: left top;
  z-index: 1;
}

.pc_nav li {
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  letter-spacing: 0.1em;
}
.pc_nav a {
  color: #fff;
  padding: 2px 5px;
}

.pc_nav li:first-child a {
  color: #111;
  background-color: #fff;
  padding: 2px 5px;
}

/* light */

.light {
  animation: light 8s linear alternate infinite;
  position: fixed;
  animation-name: fadeInAnime;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes light {
  to {
    transform: scale(2);
  }
}

.main_light {
  right: 15%;
  bottom: 100px;
}

.about_light {
  top: 200px;
  left: 15%;
}

.detail_light {
  left: 20%;
  bottom: 200px;
}

.contact_light {
  top: 250px;
  left: 40%;
}

/* copy write */

.copy_write {
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
}

/* main---------------------------------------------------------------------------- */

/* concept */

.contents_box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
}

.concept_write {
  font-size: 18px;
  padding-top: 20px;
}

.logo {
  width: 175px;
}

.decora {
  width: 360px;
}

/* policy */

.prof01 {
  width: 600px;
}

.policy {
  width: 210px;
}

.policy_write {
  font-size: 15px;
  padding: 30px 0;
}

.btn01 {
  transform: translateX(150px);
}

/* about--------------------------------------------------------------------------- */

.about_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  max-width: fit-content;
  align-items: flex-end;
  margin-left: 15vw;
}

.about_box {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.about_me {
  width: 180px;
}

.prof02 {
  width: 450px;
}

.about_detail p {
  margin: 0 0 20px 0;
  line-height: 2;
}

.about_detail p span {
  font-weight: 600;
}

.about_name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.about_name p:first-child {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  margin: 0;
}
.about_name p:last-child {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1;
  margin: 0;
}

.scroll {
  width: 285px;
}

/* biography */

.bio_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  height: 100vh;
}

.bio {
  width: 185px;
  transform: translateX(300px);
}

.bio_container {
  display: flex;
}

.bio_container div {
  height: 500px;
  width: 250px;
  padding: 0 20px;
  border-right: 1px dashed #fff;
  border-bottom: 1px dashed #fff;
  position: relative;
}

.bio_container div:first-child {
  width: 400px;
  padding: 0 20px;
}

.bio_container div:last-child {
  border: none;
}

.bio_container div:not(:first-child)::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

.bio_container p span {
  font-weight: 700;
  font-size: 15px;
}

.bio_container p {
  white-space: wrap;
  font-size: 14px;
  transform: translateY(-30px);
}

.space {
  display: block;
  content: “”;
  height: 100px;
}

/* skills */

.skills_wrap {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 20vw;
}

.skills_container {
  display: flex;
  align-items: center;
  padding: 30px 100px;
  gap: 80px;
}

.skill {
  width: 65px;
}

.skills_box p,
.skills_box ul li {
  font-size: 16px;
}

.skills_box p {
  font-weight: 700;
}

.skills_box ul {
  padding-left: 30px;
  border-left: 1px solid #fff;
}

.skills_box ul li {
  padding: 10px 0;
}

/* works detail-------------------------------------------------------------------- */

/* button */

.back_btn a {
  position: fixed;
  bottom: 10vh;
  right: 10%;
  display: block;
  width: 180px;
  padding: 10px 10px 10px 30px;
  font-size: 13px;
  color: #fff;
  border: 1px solid #fff;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  z-index: 3;
}

.back_btn a::after,
.back_btn a::before {
  content: "";
  position: absolute;
  top: 25px;
  bottom: 0;
  left: 50px;
  width: 14px;
  height: 14px;
  margin: auto;
  border-top: 1px solid #fff;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.back_btn:hover a::after {
  transform: translate(-115%, -50%) rotate(45deg);
}

.back_btn:hover a::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.back_btn a::after {
  transform: translate(-100%, -25%) rotate(0deg);
}

.back_btn a::before {
  transform: translate(-100%, -25%) rotate(0deg);
}

/* main contents */

.detail_container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 80px;
  margin-top: 15vh;
  margin-left: 15vw;
  margin-right: 20vw;
}

.detail_img {
  width: 238px;
}

.detail_left {
  display: flex;
  margin-bottom: 3vh;
}

.flex {
  display: flex;
  align-items: center;
}

.detail_right {
  border-left: solid 1px #fff;
  width: 250px;
  padding-left: 30px;
}

hr {
  border: none;
  border-bottom: 1px dotted #fff;
  width: 100%;
  margin: 0;
}

.line {
  width: 100%;
  padding: 0 5%;
}

.detail_left div:first-child {
  width: 100px;
  padding: 0 20px;
}

.detail_container p {
  margin: 0;
}

.detail_container p span {
  display: block;
  font-size: 18px;
  font-weight: 600;
  padding: 5vh 0 3vh 0;
}

.works1 p,
.detail_column p {
  line-height: 1.78;
  white-space: wrap;
  margin-top: 0;
}

.works1,
.detail_column {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 600px;
}

.detail_column {
  justify-content: flex-start;
  margin-top: 15vh;
  margin-right: 20vw;
}

.btn_detail {
  padding-top: 3vh;
  transform: translateX(100px);
}

/* small contents */

.detail_flex {
  margin-top: 15vh;
  margin-right: 20vw;
}

.detail_flex div {
  display: flex;
  width: 800px;
  justify-content: flex-start;
  gap: 30px;
  margin-bottom: 30px;
}

.detail_flex img {
  width: 250px;
  height: 100%;
}

.detail_flex div p {
  white-space: wrap;
  margin: 0;
}

.space {
  transform: translateX(280px);
}

/* contact------------------------------------------------------------------------- */

#contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact_container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
}

.contact_container div {
  padding: 10px 0;
}
.contact_img {
  width: 280px;
}

.c-form_item input,
.c-form_item textarea,
button {
  color: #fff;
  background: none;
  border: 1px solid #fff;
  box-sizing: border-box;
}

.c-form_item input {
  width: 400px;
  height: 50px;
  padding-left: 10px;
}

.c-form_item textarea {
  width: 400px;
  height: 150px;
  padding-top: 10px;
  padding-left: 10px;
}

button {
  color: #fff;
  padding: 15px 30px;
  cursor: pointer;
  transform: translateX(139px);
}
