@charset "utf-8;";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&display=swap");

html {
  scroll-behavior: smooth;
  overflow: visible;
}

body {
  position: relative;
  overflow: visible;
}

html,
body,
h1,
h3,
dl,
dt,
dd,
ul,
li,
button {
  margin: 0;
  padding: 0;
  line-height: 1.78;
  letter-spacing: 0.1em;
  font-family: "Noto sefif JP", serif;
  font-size: 18px;
  font-weight: 400;
  color: #111;
  font-feature-settings: "palt";
}

h2 {
  font-size: 40px;
  font-weight: 400;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}
